.footer {
  background: $grey-5;
  gap: 80px;

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: -10px 0;

    a {
      color: $black;
      padding: 10px;
      border-radius: 40px;

      &:active {
        color: $grey-2;
        transform: scale(1.1);
        transition: 0.1s;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer-links a:hover {
    color: $grey-2;
  }
}
