.footer {
  background: $grey-5;
  gap: 40px;

  .footer-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    .footer-logo {
      height: 40px;

      &:active {
        transform: scale(1.1);
        transition: 0.1s;
      }
    }

    .footer-links {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: -10px 0;

      a {
        color: $black;
        padding: 10px;
        border-radius: 40px;

        &:active {
          color: $grey-2;
          transform: scale(1.1);
          transition: 0.1s;
        }
      }
    }
  }

  .copyrights {
    font-size: $mobile-font-small;
    color: $grey-1;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer-links a:hover {
    color: $grey-2;
  }
}

@media screen and (min-width: $breakpoint-5) {
  .footer {
    padding: unset;
    gap: 0;

    .footer-container {
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 29px 28px 31px 18px;
      max-width: 1316px;

      .footer-logo:active {
        transform: scale(1.05);
      }

      .footer-links {
        flex-direction: row;
        justify-content: space-between;
        margin: unset;

        a:active {
          transform: scale(1.05);
        }
      }
    }

    .copyrights {
      padding: 5px 0;
      background: $black;
      width: 100%;
      justify-content: center;
      max-width: unset;
    }
  }
}
