* {
  box-sizing: border-box;
}

div {
  display: flex;
}

h1 {
  font-size: $mobile-font-ultra-large;
  line-height: $mobile-font-ultra-large;
}

h2 {
  font-size: $mobile-font-ex-large;
  font-weight: $weight-ex-bold;
}

h3 {
  font-size: $mobile-font-large;
  line-height: $mobile-font-large;
}

p {
  font-size: $mobile-font-small;
  line-height: 21px;
}

a {
  transition: 100ms color ease-in-out;
}

button {
  font-size: $mobile-font-small;
  font-weight: $weight-bold;
  line-height: 19.6px;
  padding: 12px 24px;
  border-radius: 40px;
  cursor: pointer;
  transition: 200ms background-color ease-in-out, 100ms box-shadow ease-in-out;

  &:active {
    transform: translateY(2px);
  }
}

.btn-green {
  background-color: $primary;
  color: $black;

  &:hover {
    background-color: $green-button-hover;
  }
}

.btn-black {
  background-color: $black;
  color: $off-white;

  &:hover {
    background-color: $black-2;
  }
}

.section {
  width: 100%;
  padding: 0 18px;
  flex-direction: column;
  align-items: center;
  // delete ↓
  background-color: $primary;
  background-color: rgba(168, 255, 53, 0.1);
}
