* {
  box-sizing: border-box;
}

div {
  display: flex;
}

h1 {
  font-size: $mobile-font-ultra-large;
  line-height: $mobile-font-ultra-large;
}

h2 {
  font-size: $mobile-font-ex-large;
  font-weight: $weight-ex-bold;
  text-align: center;
}

h3 {
  font-size: $mobile-font-large;
  line-height: $mobile-font-large;
}

p {
  font-size: $mobile-font-small;
  line-height: 21px;
  text-align: center;
}

a {
  transition: all 0.2s ease-in-out;
}

button {
  font-size: $mobile-font-small;
  font-weight: $weight-bold;
  line-height: 19.6px;
  padding: 12px 24px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale(1.05);
    transition: 0.1s;
  }
}

.btn-green {
  background-color: $primary;
  color: $black;
}

.btn-black {
  background-color: $black;
  color: $white;
}

.section {
  width: 100%;
  padding: 80px 18px;
  flex-direction: column;
  align-items: center;
}

.disable-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn-green:hover {
    background-color: $green-button-hover;
  }

  .btn-black:hover {
    background-color: $black-2;
  }
}
