.navbar {
  width: 100%;
  min-width: 375px;
  position: absolute;
}

.navbar.full-height {
  height: 100%;
}

.navbar-top {
  width: 100%;
  height: 88px;
  padding: 0 calc(18px + env(safe-area-inset-right)) 0
    calc(18px + env(safe-area-inset-left));
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.navbar-top-active {
  background-color: $black;
}

.navbar-logo {
  height: 40px;
  align-items: center;
  display: flex;
  animation: navbar-dropdown-menu 400ms;

  &:active {
    transform: translate(2px, 2px);
    transition: 0.1s;
  }
}

.navbar-dropdown-btn.hamburger-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-right: 5px;
  cursor: pointer;
  height: 22px;
  width: 22px;

  svg {
    transition: transform 400ms ease-in-out 20ms;
  }

  &.hamburger-transform {
    svg.hamburger-icon-top {
      transform: translateY(4px) rotate(45deg);
    }

    svg.hamburger-icon-bottom {
      transform: translateY(-4px) rotate(-45deg);
    }
  }
}

.navbar-dropdown-menu {
  width: 100%;
  height: calc(100% - 88px);
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  position: absolute;
  top: 88px;
  z-index: 5;
  display: none;
  animation: navbar-dropdown-menu 400ms;
}

.navbar-dropdown-menu-active {
  display: flex;
}

.navbar-links {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 8px;
  background-color: $black;
}

.navbar-links a {
  color: $white;
  padding: 20px;
  border-radius: 40px;

  &:active {
    color: $grey-2;
    transform: scale(1.1);
    transition: 0.1s;
  }
}

.navbar-btns {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  gap: 28px;
  background-color: $black;
}

.navbar-btns button.navbar-btn {
  font-size: $mobile-font-medium;
  font-weight: $weight-standard;
  line-height: $mobile-font-medium;
  padding: 12px 32px;
  color: $white;

  &:active {
    box-shadow: 0 0 2px $white inset;
  }

  &.white {
    background-color: $white;
    color: $black;
  }
}

@keyframes navbar-dropdown-menu {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navbar-links a:hover {
    color: $grey-2;
  }

  .navbar-btns button.navbar-btn:hover {
    box-shadow: 0 0 2px $white inset;

    &.white {
      background-color: $grey-2;
    }
  }
}

@media screen and (min-width: $breakpoint-5) {
  .navbar {
    max-width: 1316px;
  }

  .navbar-top {
    height: 99px;
  }

  .navbar-top-active {
    background-color: transparent;
  }

  .navbar-logo {
    z-index: 6;

    .navbar-logo-findtrend {
      display: block;
      padding: 7px 0 0 10.32px;
    }
  }

  .navbar-dropdown-btn {
    visibility: hidden;
  }

  .navbar-dropdown-menu {
    width: calc(100% - 32px);
    height: 99px;
    background: none;
    flex-direction: row;
    top: 0;
    right: 18px;
    left: 18px;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-links {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0;
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 25%;
    width: 50%;
  }

  .navbar-links a {
    padding: 10px;
  }

  .navbar-btns {
    flex-direction: row;
    padding-bottom: 0;
    justify-content: flex-end;
    gap: 4px;
    background-color: transparent;

    button.navbar-btn {
      padding: 10px 28px;
    }
  }
}

@media screen and (min-width: $breakpoint-6) {
  .navbar-links {
    gap: 20px;
  }

  .navbar-btns {
    gap: 8px;

    button.navbar-btn {
      padding: 12px 32px;
    }
  }
}
