.navbar {
  width: 100%;
  min-width: 375px;
  flex-direction: column;
  position: absolute;
}

.navbar.full-height {
  height: 100%;
}

.navbar-top {
  width: 100%;
  height: 88px;
  padding: 0 calc(18px + env(safe-area-inset-right)) 0
    calc(18px + env(safe-area-inset-left));
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.navbar-top-active {
  background-color: $black;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-dropdown-btn {
  margin-right: 5px;
  cursor: pointer;

  &:active {
    // padding-top: 2px;
  }
}

.navbar-dropdown-menu {
  width: 100%;
  height: calc(100% - 88px);
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  position: absolute;
  top: 88px;
  z-index: 5;
  display: none;
  animation: navbar-dropdown-menu 400ms;
}

.navbar-dropdown-menu-active {
  display: flex;
  transition: all 2s ease-in-out 2s;
}

.navbar-links {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 8px;
  background-color: $black;
}

.navbar-links a {
  color: $off-white;
  padding: 20px;
  border-radius: 40px;

  &:active {
    color: $grey-2;
    transform: scale(1.1);
    transition: 0.1s;
  }
}

.navbar-btns {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  gap: 28px;
  background-color: $black;
}

.navbar-btns button.navbar-btn {
  font-size: $mobile-font-medium;
  font-weight: $weight-standard;
  line-height: $mobile-font-medium;
  padding: 12px 32px;
  color: $off-white;

  &:active {
    box-shadow: 0 0 2px $off-white inset;
  }

  &.white {
    background-color: $off-white;
    color: $black;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navbar-links a:hover {
    color: $grey-2;
  }

  .navbar-btns button.navbar-btn:hover {
    box-shadow: 0 0 2px $off-white inset;

    &.white {
      background-color: $grey-2;
    }
  }
}

@keyframes navbar-dropdown-menu {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
