.section-4 {
  background-color: $white;
}

.section-4-h2 {
  color: $black;
  line-height: 42.77px;
  margin-bottom: 32px;
  width: 100%;

  span {
    white-space: nowrap;
  }
}

.section-4-table {
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 14px;
  position: relative;
  right: -7.5px;
  width: calc(100% + 15px);

  .table-wrapper {
    background-color: $grey-3;
    border-radius: 8px;
    flex-basis: calc(50% - 15px);
    aspect-ratio: 2.25 / 1;
    justify-content: center;
    align-items: center;

    img {
      transform: scale(0.3);
      position: absolute;
    }
  }
}

@media screen and (min-width: $breakpoint-1) {
  .section-4-h2 {
    width: 80%;
  }

  .section-4-table {
    width: calc(80% + 15px);
  }
}

@media screen and (min-width: $breakpoint-4) {
  .section-4-table .table-wrapper {
    flex-basis: calc(25% - 15px);
  }
}

@media screen and (min-width: $breakpoint-5) {
  .section-4-h2 {
    width: 100%;
    font-size: $desktop-font-large-2;
    line-height: 76.03px;
    margin-bottom: 80px;
  }

  .section-4-table {
    width: calc(100% + 15px);
  }
}

@media screen and (min-width: $breakpoint-6) {
  .section-4-table {
    column-gap: 32px;
    row-gap: 32px;
    right: -16px;
    width: calc(100% + 32px);

    .table-wrapper {
      flex-basis: calc(25% - 32px);

      img {
        transform: scale(0.4);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-7) {
  .section-4-table .table-wrapper img {
    transform: scale(0.5);
  }
}
