.section-1 {
  background: url("../../assets/images/bg-hero-mobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 144px 0 330px;
}

.section-1-h2 {
  color: $white;
  line-height: 40.32px;
}

.section-1-paragraphs {
  margin-top: 16px;
  flex-direction: column;
  align-items: center;
  padding: 0 13%;

  p {
    color: $grey-1;
    font-family: "Roboto", sans-serif;

    span {
      white-space: nowrap;
    }
  }
}

.section-1-btn {
  margin-top: 32px;
}

.section-1-tabs {
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 60px;
}

.section-1-tab {
  position: absolute;
  justify-content: center;
}

.section-1-tab img {
  width: 299px;
}

.section-1-tab.twitter {
  transform: rotate(-4deg);
  top: 0;
  z-index: 4;
}

.section-1-tab.pinterest {
  transform: rotate(2deg);
  top: 70px;
  z-index: 3;
}

.section-1-tab.facebook {
  transform: rotate(-2deg);
  top: 130px;
  z-index: 2;
}

.section-1-tab.dribble {
  transform: rotate(4deg);
  top: 200px;
  z-index: 1;
}

@media screen and (min-width: $breakpoint-2) {
  .section-1-tab img {
    width: 380px;
  }
}

@media screen and (min-width: $breakpoint-3) {
  .section-1 {
    background: url("../../assets/images/bg-hero-website.png") repeat center center fixed;
    background-size: 101%;
  }
}

@media screen and (min-width: $breakpoint-5) {
  .section-1 {
    padding: 198px 0 365px;
  }

  .section-1-h2 {
    line-height: 80.64px;
  }

  .section-1-paragraphs {
    margin-top: 24px;
  }

  .section-1-btn {
    margin-top: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .section-1-tabs {
    margin-top: 0;
    max-width: 1440px;
  }

  .section-1-tab.twitter {
    top: 100px;
    left: calc(20% - (380px / 2));
  }

  .section-1-tab.pinterest {
    top: 150px;
    left: calc(40% - (380px / 2));
  }

  .section-1-tab.facebook {
    top: 100px;
    left: calc(60% - (380px / 2));
  }

  .section-1-tab.dribble {
    top: 150px;
    left: calc(80% - (380px / 2));
  }
}
