.section-5 {
  background-color: $grey-5;
}

.section-5-h2 {
  color: $black;
  line-height: 42.77px;
  margin-bottom: 32px;
  width: 100%;

  span {
    white-space: nowrap;
  }
}

.section-5-platforms-icons {
  column-gap: 16px;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 17px; // 32px - 15px hidden scrollbar

  .icon-wrapper {
    background-color: $white;
    border-radius: 8px;
    padding: 1px 2px;
    cursor: pointer;
    transition: all 0.2s;

    img {
      transform: scale(0.5);
    }

    &.highlighted {
      background-color: $primary;
    }

    &:active {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
}

.section-5-embeddings {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: -10px 0;
}

.section-5-button {
  margin-top: 32px;
}

@media screen and (min-width: $breakpoint-1) {
  .section-5-h2,
  .section-5-platforms-icons,
  .section-5-embeddings {
    width: 80%;
  }
}

@media screen and (min-width: 816px) {
  .section-5-platforms-icons {
    justify-content: center;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: $breakpoint-5) {
  .section-5-h2 {
    line-height: 76.03px;
    margin-bottom: 80px;
    width: 100%;
  }

  .section-5-platforms-icons {
    width: 100%;
    margin-bottom: 77px;

    .icon-wrapper {
      padding: 7px;

      img {
        transform: scale(0.7);
      }
    }
  }

  .section-5-embeddings {
    width: 100%;
  }

  .section-5-button {
    margin-top: 80px;
  }
}

@media screen and (min-width: $breakpoint-6) {
  .section-5-platforms-icons {
    column-gap: 24px;

    .icon-wrapper {
      padding: 16px;

      img {
        transform: scale(0.9);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-7) {
  .section-5-embeddings {
    // transform: scale(1.45);
    // position: relative;
  }

  .section-5-platforms-icons {
    column-gap: 24px;

    .icon-wrapper {
      padding: 32px;

      img {
        transform: scale(1);
      }
    }
  }
}
