.section-2 {
  background-color: $primary;
  gap: 80px;
}

.section-2-h2 {
  color: $black;
  font-weight: $weight-bold;
  line-height: 40.32px;
  margin: 0 -5px;
}

.section-2-tab {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $grey-3;
  border-radius: 14px;
  position: relative;

  img.tab-png {
    width: 299px;
    margin: 24px;
  }

  img.section-2-tab-arrow-png {
    position: absolute;
    width: 99px;

    &.arrow-1 {
      right: 0;
      top: -48px;
    }

    &.arrow-2 {
      left: 0;
      bottom: -50px;
    }
  }
}

.section-2-paragraphs {
  flex-direction: column;
  align-items: center;

  p {
    color: $black;
  }
}

@media screen and (min-width: $breakpoint-3) {
  .section-2-tab img {
    &.tab-png {
      width: 341px;
      margin: 30px;
    }

    &.section-2-tab-arrow-png {
      width: 120px;
    }
  }
}

@media screen and (min-width: $breakpoint-5) {
  .section-2 {
    gap: 60px;
  }

  .section-2-h2 {
    line-height: 85.54px;
  }

  .section-2-tab {
    border-radius: 16px;

    img.tab-png {
      margin: 60px 80px;
    }
  }
}
