.section-3 {
  background-color: $white;
}

.section-3-h2 {
  color: $black;
  line-height: 42.77px;
  text-align: left;

  .grey {
    color: $grey-2;
  }

  &.grey {
    color: $grey-2;
  }
}

@media screen and (min-width: $breakpoint-1) {
  .section-3-h2 {
    width: 80%;
  }
}
