.section-6 {
  background-color: $black;
}

.section-6-h2 {
  color: $white;
  line-height: 42.77px;
  margin-bottom: 32px;
}

.section-6-toggle-btn.toggle-wrapper {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + .toggle-button {
      &:before {
        color: $grey-2;
      }

      &:after {
        color: $white;
      }

      .knob:after {
        transform: translateX(60px);
      }
    }
  }

  .toggle-button {
    width: 104px;
    height: 44px;
    border-radius: 99px;
    font-family: $font-secondary;
    font-size: $mobile-font-medium;
    line-height: 21.78px;
    font-weight: $weight-medium;
    color: $white;
    background: $white;
    display: flex;
    cursor: pointer;
    position: relative;

    &:before,
    &:after {
      position: absolute;
      top: 11px;
      transition: color 100ms;
    }

    &:before {
      content: "Monthly";
      right: 126px;
    }

    &:after {
      content: "Yearly";
      left: 126px;
      color: $grey-2;
    }

    .knob {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: inherit;
      border-radius: inherit;
    }

    .knob:after {
      content: "";
      position: absolute;
      height: 28px;
      width: 28px;
      background: $primary;
      border-radius: inherit;
      left: 8px;
      top: 8px;
      transition: transform 200ms cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }
  }

  img.arrow-png {
    position: absolute;
    transform: scale(0.5);
    top: 8px;
    right: -95px;
  }
}

.section-6-deal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  column-gap: 40px;
  row-gap: 24px;
  width: 100%;

  .section-6-card {
    background: $grey-5;
    padding: 30px 30px 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .card-sub-title {
      padding: 14px 0 24px;
      border-bottom: 1px solid $grey-2;
    }

    .card-price {
      margin-top: 32px;

      span {
        font-size: $mobile-font-medium;
        line-height: $mobile-font-medium;
      }
    }

    ul.card-benefit-list {
      padding-bottom: 29px;
      min-height: 317px;
      list-style: url("../../assets/images/tick-mark.svg");
      padding-left: 21px;

      li {
        margin-top: 30px;
        padding-left: 13px;
      }
    }

    button.card-button {
      font-size: $mobile-font-medium;
      line-height: 25.2px;
      padding: 14px;
    }
  }

  .card-green {
    background: $primary;
  }
}

@media screen and (min-width: $breakpoint-1) {
  .section-6-deal-container {
    width: 80%;
  }
}
