@import "variables";
@import "reset";
@import "global";
@import "navbar";
@import "section-1";
@import "footer";

html {
  // background: $black;
  background: url("../../assets/images/bg-hero-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: $font-primary;
  font-size: $mobile-font-medium;
  line-height: $mobile-font-medium;
  font-weight: $weight-standard;
  color: $black;
  // delete ↓
  color: yellow;
}

.main {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
