html,
body,
ul,
ol,
button,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

* {
  box-sizing: border-box;
}

div {
  display: flex;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  transition: 100ms color ease-in-out;
}

button {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  padding: 12px 24px;
  border-radius: 40px;
  cursor: pointer;
  transition: 200ms background-color ease-in-out, 100ms box-shadow ease-in-out;
}
button:active {
  transform: translateY(2px);
}

.btn-green {
  background-color: #a8ff35;
  color: #000000;
}
.btn-green:hover {
  background-color: #87d322;
}

.btn-black {
  background-color: #000000;
  color: #ffffff;
}
.btn-black:hover {
  background-color: #2b2b2b;
}

.section {
  width: 100%;
  padding: 0 18px;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  min-width: 375px;
  flex-direction: column;
  position: absolute;
}

.navbar-top {
  width: 100%;
  height: 88px;
  padding: 0 18px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.navbar-top-active {
  background-color: #000000;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-dropdown-btn {
  margin-right: 5px;
}
.navbar-dropdown-btn:hover {
  cursor: pointer;
}
.navbar-dropdown-btn:active {
  padding-top: 2px;
}

.navbar-dropdown-menu {
  width: 100%;
  height: calc(100vh - 88px);
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  position: absolute;
  top: 88px;
  z-index: 5;
  display: none;
}

.navbar-dropdown-menu-active {
  display: flex;
}

.navbar-links {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 8px;
  background-color: #000000;
}

.navbar-links a {
  color: #ffffff;
  padding: 20px;
  border-radius: 40px;
}
.navbar-links a:hover {
  color: #adadad;
}
.navbar-links a:active {
  color: #adadad;
  transform: translateY(2px);
}

.navbar-btns {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  gap: 28px;
  background-color: #000000;
}

.navbar-btns button.navbar-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 12px 32px;
  color: #ffffff;
}
.navbar-btns button.navbar-btn:hover {
  box-shadow: 0 0 2px #ffffff inset;
  box-shadow: 0 1px 2px #ffffff;
}
.navbar-btns button.navbar-btn:active {
  box-shadow: 0 0 2px #ffffff inset;
  transform: translateY(2px);
}

.navbar-btns button.navbar-btn.white {
  background-color: #ffffff;
  color: #000000;
}

.section-1 {
  background: url("../../assets/images/bg-hero-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 144px 0 330px;
}

.section-1-h2 {
  color: #ffffff;
  line-height: 40.32px;
  text-align: center;
}

.section-1-paragraphs {
  margin-top: 16px;
  flex-direction: column;
  align-items: center;
}
.section-1-paragraphs p {
  text-align: center;
  color: #8b8b8b;
}

.section-1-btn {
  margin-top: 32px;
}

.section-1-tabs {
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 60px;
}

.section-1-tab {
  position: absolute;
  justify-content: center;
}

.section-1-tab img {
  width: 80%;
  max-width: 500px;
}

.section-1-tab.twitter {
  transform: rotate(-4deg);
  z-index: 4;
}

.section-1-tab.pinterest {
  transform: rotate(2deg);
  top: 70px;
  z-index: 3;
}

.section-1-tab.facebook {
  transform: rotate(-2deg);
  top: 130px;
  z-index: 2;
}

.section-1-tab.dribble {
  transform: rotate(4deg);
  top: 200px;
  z-index: 1;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  color: yellow;
}

.main {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
